site_name: Arcturus Labs
site_url: http://arcturus-labs.com
nav:
  - Home: index.html
  - Blog:
    - blog/index.md
theme:
  name: material
  logo: assets/images/logo.png
  favicon: assets/images/favicon.ico
  features:
    - content.code.copy
extra_css:
  - assets/stylesheets/custom.css
extra_javascript:
    - assets/scripts/custom.js      
plugins:
  - rss:
      match_path: blog/posts/.* 
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags  
  - search
  - blog
  - redirects:
      redirect_maps:
        'blog/2024/11/21/roaming-rag--make-_the-model_-find-the-answers/index.html': 'blog/posts/Roaming_RAG.md'
markdown_extensions:
  - md_in_html
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
extra:
  analytics:
    provider: google
    property: G-9ZGCYE3982

