site_name: MkLorum
nav:
  - Home: index.md
  - About: about.md
  - Blog:
    - blog/index.md
theme:
  name: material
  features:
    - content.code.copy
plugins:
  - blog
  - rss:
      match_path: blog/posts/.* 
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags  
markdown_extensions:
  - attr_list
  - md_in_html